<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.hhit.basetrain.dao.BaseTeacherDao">
 	<select id="findInfoByBaseName" parameterType="java.util.HashMap" resultType="com.hhit.basetrain.entity.BaseTeacher">
 		select t_no,t_name,t_sex,t_phone,t_profession from baseteacher where t_name like #{t_name} 
 		and base_no=(select base_no from trainstudent where stuno=#{stuno})
 	
 	</select>
 </mapper>