<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 <mapper namespace="com.hhit.basetrain.dao.BaseTeacherDao">
 	<select id="findInfoByBaseName" parameterType="java.util.HashMap" resultType="com.hhit.basetrain.entity.BaseTeacher">
 		select t_no,t_name,t_sex,t_phone,t_profession from baseteacher where t_name like CONCAT(CONCAT('%', #{t_name}),'%') 
 		and base_no=(select base_no from trainstudent where stuno=#{stuno})
 	
 	</select>
 	
 	<select id="findInfoByBaseNamePage" parameterType="java.util.HashMap" resultType="com.hhit.basetrain.entity.BaseTeacher">
 		select t_no,t_name,t_sex,t_phone,t_profession from baseteacher where t_name like CONCAT(CONCAT('%', #{t_name}),'%') 
 		and base_no=(select base_no from trainstudent where stuno=#{stuno}) limit  ${page}, ${pagesize}
 	</select>
 	
 	<!-- 查询课程号通过教师ID -->
 	<select id="findCnoByTeacherNo" parameterType="string" resultType="string">
 		select cno from teaching where t_no=#{tno}
 	
 	</select>
 	
 	<!-- 通过教师ID查询教师信息 -->
 	<select id="findInfoByNo" parameterType="string" resultType="map">
 		select b.t_no,b.t_name,b.t_sex,b.t_phone,b.t_profession,r.base_name
 		from baseteacher b,baserelation r where r.base_no=b.base_no and b.t_no=#{tno}
 	</select>
 	
 	<!-- 修改个人信息 -->
 	<update id="modifySelfInfo" parameterType="com.hhit.basetrain.entity.BaseTeacher">
 		update baseteacher set t_name=#{t_name},t_sex=#{t_sex},t_phone=#{t_phone} where 
 		t_no=#{t_no}
 	</update>
 	
 	<!-- 通过基地号查询教师编号-->
 	<select id="findBaseTeacherNoByBaseNo" parameterType="string" resultType="string">
 		select t_no from baseteacher where base_no = #{base_no}
 	</select>
 	
 	<!--根据基地号删除基地教师 -->
 	<delete id="deleteBaseTeacherByBaseNo" parameterType="int">
 		delete from baseteacher where base_no = #{baseteacher}
 	</delete>
 	<!-- 插入基地教师 -->
 	<insert id="saveBaseTeacher" parameterType="com.hhit.basetrain.entity.BaseTeacher">
 		insert into baseteacher(t_no,t_name,t_sex,t_phone,base_no,t_profession) 
 		values(#{t_no},#{t_name},#{t_sex},#{t_phone},#{base_no},#{t_profession})
 	</insert>
 	<!-- 删除基地教师 -->
 	<delete id="deleteBaseTeacher" parameterType="string">
 		delete from baseteacher where t_no=#{t_no}
 	</delete>
 	
 </mapper>