<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="com.hhit.basetrain.dao.BaseAdminDao">

	<!-- 根据用户名查找信息 -->
	<select id="findByNo" parameterType="string" resultType="com.hhit.basetrain.entity.BaseAdmin">
		select manager_no,manager_name,manager_phone from baseadmin where manager_no = #{manager_no}
	</select>
	
	<!-- 根据用户名查找姓名 -->
	<select id="findNameByNo" parameterType="string" resultType="string">
		select manager_name from baseadmin where manager_no = #{manager_no}
	</select>
	
	<!-- 修改信息 -->
	<update id="modifyInf" parameterType="java.util.Map">
		update baseadmin
		set manager_name = #{manager_name},manager_phone = #{manager_phone}
		where manager_no = #{manager_no}
	</update>
	
	<!-- 删除基地管理员 -->
	<delete id="deleteBaseAdminByNo" parameterType="string">
		delete from baseadmin where manager_no = #{manager_no}
	</delete>
	
	<!-- 管理员添加基地管理员 -->
	<insert id="saveBaseAdmin" parameterType="string">
		insert into baseadmin(manager_no)
		values
		(#{manager_no})
	</insert>
	
	<!-- 通过基地管理员查询基地名称 -->
	<select id="loadBaseNameByNo" parameterType="string" resultType="com.hhit.basetrain.entity.BaseBean">
		select base_name,base_no from baserelation where manager_no = #{manager_no}
	</select>
	
</mapper>