<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="com.hhit.basetrain.dao.StudentDao">

	<!-- 根据用户名查找用户 -->
	<select id="findByNo" parameterType="string" resultType="com.hhit.basetrain.entity.Student">
		select stuno,stu_name,stu_sex,stu_class,major,phone,enter_year,
			date_format(birthday,'%Y-%m-%d') as birthday,address 
		from student 
		where stuno = #{stuno}
	</select>
	
	<!-- 根据用户名查找姓名 -->
	<select id="findNameByNo" parameterType="string" resultType="string">
		select stu_name from student where stuno = #{stuno}
	</select>
	
	<!-- 修改信息 -->
	<update id="modifyInf" parameterType="com.hhit.basetrain.entity.Student">
		update student
		set stu_name = #{stu_name},stu_sex = #{stu_sex},stu_class = #{stu_class},
			major = #{major},phone = #{phone},enter_year = #{enter_year},
			birthday = str_to_date(#{birthday},'%Y-%m-%d'),address = #{address}
		where stuno = #{stuno}
	</update>
	
	<!-- 修改信息 -->
	<update id="modifyInfo" parameterType="com.hhit.basetrain.entity.Student">
		update student
		set stu_name = #{stu_name},stu_sex = #{stu_sex},stu_class = #{stu_class},
			major = #{major},phone = #{phone},
			birthday = str_to_date(#{birthday},'%Y-%m-%d'),address = #{address}
		where stuno = #{stuno}
	</update>
	
	<!-- 通过学号查看学生报名基地 -->
	<select id="findTrainBaseByStuno" parameterType="string" resultType="string">
		select base_no from register where stuno = #{stuno}
	</select>
	
	<!-- 实训课程报名 -->
	<insert id="regist" parameterType="map">
		insert into register(stuno,cno,base_no)
		values
		(#{stuno},#{cno},#{base_no})
	</insert>
	
	<!-- 专业划分实训学生报名统计 -->
	<select id="registCountByMajor" resultType="com.hhit.basetrain.entity.StudentRegistCountBean">
		select count(*) as num,major as major from register a ,student b 
		where a.stuno = b.stuno 
		group by major
	</select>
	<!-- 实训单位划分实训学生报名统计 -->
	<select id="registCountByBase" resultType="com.hhit.basetrain.entity.StudentRegistCountBean">
		select count(*) as num,base_name as base_name from register a ,base b ,student c
		where a.base_no = b.base_no and c.stuno = a.stuno
		group by a.base_no
	</select>
	<!-- 专业和实训单位划分实训学生报名统计 -->
	<select id="registCountByMajorAndBase" resultType="com.hhit.basetrain.entity.StudentRegistCountBean">
		select count(*) as num,major as major,base_name as base_name from register a ,student b,base c 
		where a.stuno = b.stuno and a.base_no = c.base_no 
		group by b.major,a.base_no
	</select>
	
	<!-- 专业划分实训学生报名统计详细信息 -->
	<select id="searchRegistCountInf" resultType="com.hhit.basetrain.entity.StudentRegistCountInfoBean">
		select a.stu_name as stu_name,a.stu_class as stu_class,a.major as major,
		c.base_name as base_name,b.cname as cname 
		from student a,traincourse b,base c,register d
		where a.stuno = d.stuno and b.cno = d.cno and c.base_no = d.base_no and b.base_no = c.base_no
		order by a.major,c.base_name,b.cname 
	</select>
	
	<!-- 查找学生入学年份 -->
	<select id="findEnterYear" resultType="int">
		select distinct(enter_year) from student
	</select>
	
	<!-- 查找学生专业 -->
	<select id="findMajor" resultType="string">
		select distinct(major) from student
	</select>
	
	<!-- 根据专业查找学生班级 -->
	<select id="findClass" parameterType="string" resultType="string">
		select distinct(stu_class) from student 
		<where> 
			<if test="_parameter != null and _parameter !=''">
				 major = #{_parameter}
			</if>
		</where>
	</select>
	
</mapper>