<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="com.hhit.basetrain.dao.WorkDao">
	<!-- 上传作业 -->
	<insert id="saveWork" parameterType="com.hhit.basetrain.entity.Work">
		insert into work(wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file)
		values(#{wid},#{cno},#{cname},#{base_no},#{title},#{content},#{uploadDate},#{uploadNo},#{base_class},
		#{endDate},#{file})
	</insert>
	<!-- 查询作业 -->
	<select id="findWorkByBase" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_class=#{base_class} and base_no=#{base_no}
	</select>
	<!-- 查询作业分页 -->
	<select id="findWorkByBasePage" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select wid,cno,cname,base_no,title,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_class=#{base_class} and base_no=#{base_no} order by
		uploadDate desc limit ${page},${pagesize} 
	</select>
	
	<!-- 删除作业 -->
	<delete id="deleteWorkById" parameterType="string">
		delete from work where wid=#{wid}
	</delete>
	
	<!-- 学生查看最新作业 -->
	<select id="findWorkUnfinished" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select  wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_no =#{base_no} and base_class=#{base_class}
             and wid not IN (select wid from finished where stuno=#{stuno}) and endDate>#{currentDate}
	</select>
	<!--学生查看最新作业分页 -->
	<select id="findWorkUnfinishedPage" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select  wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_no =#{base_no} and base_class=#{base_class}
             and wid not IN (select wid from finished where stuno=#{stuno}) and endDate>#{currentDate}
             limit ${page},${pagesize}
	</select>
	
	<!-- 学生查看最新作业 -->
	<select id="findWorkUnfinishedPassed" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select  wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_no =#{base_no} and base_class=#{base_class}
             and wid not IN (select wid from finished where stuno=#{stuno}) and endDate <![CDATA[<]]>#{currentDate}
	</select>
	<!--学生查看最新作业分页 -->
	<select id="findWorkUnfinishedPassedPage" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select  wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_no =#{base_no} and base_class=#{base_class}
             and wid not IN (select wid from finished where stuno=#{stuno}) and endDate<![CDATA[<]]> #{currentDate}
             limit ${page},${pagesize}
	</select>
	<!--插入完成表-->
	<insert id="insertFinished" parameterType="com.hhit.basetrain.entity.FinishWorkBean">
		insert into finished(stuno,wid,uploadDate,finishedfile,filename) values(#{stuno},#{wid},#{uploadDate},#{file},#{filename})
	</insert>
	
	<!-- 查询已交作业 -->
	<select id="findWorkUpload" parameterType="string" resultType="map">
		SELECT w.wid,w.cno,w.cname,w.title,w.content,w.uploadDate,w.uploadNo,w.endDate,w.file,f.finishedfile,f.filename
        FROM work w,finished f where w.wid=f.wid and f.stuno=#{stuno} and f.identity=0
	</select>
	
	<!-- 查询已交作业 分页-->
	<select id="findWorkUploadPage" parameterType="map" resultType="map">
		SELECT w.wid,w.cno,w.cname,w.title,w.content,w.uploadDate,w.uploadNo,w.endDate,w.file,f.finishedfile,f.filename
        FROM work w,finished f where w.wid=f.wid and f.stuno=#{stuno} and f.identity=0 limit ${page},
        ${pagesize}
	</select>
	<!-- 删除已交作业 -->
	<delete id="deleteuploadedwork" parameterType="com.hhit.basetrain.entity.FinishWorkBean">
		delete from finished where stuno=#{stuno} and wid=#{wid}
	</delete>

	<!-- 查询已交作业 -->
	<select id="findFinishedWork" parameterType="map" resultType="map">
		select f.stuno,s.stu_name,w.cno,w.cname,w.title,f.uploadDate,w.file,f.finishedfile from finished f,trainstudent s,work w
		where f.stuno=s.stuno and w.wid=f.wid  and f.identity=0 and w.base_no=#{base_no} and w.base_class=#{base_class} 
		<if test="title!=null and title!=''">
			and title=#{title}
		</if>
	</select>
	
	<!-- 查询已交作业分页 -->
	<select id="findFinishedWorkPage" parameterType="map" resultType="map">
		select f.stuno,s.stu_name,w.cno,w.cname,w.title,w.wid,f.uploadDate,w.file,f.finishedfile from finished f,trainstudent s,work w
		<where> f.stuno=s.stuno and w.wid=f.wid and f.identity=0 and w.base_no=#{base_no} and w.base_class=#{base_class} 
		<if test="title!=null and title!=''">
			and title=#{title}
		</if>
		limit ${page},${pagesize}
		</where>
	</select>
	<!-- 加载评论 -->
	<select id="findComments" resultType="string">
		select comments from comments
	</select>
	<!-- 上传批改完的作业 -->
	<insert id="saveMarkedWork" parameterType="com.hhit.basetrain.entity.MarkedWork">
		insert into pigai(stuno,wid,uploadDate,result,comment,markedfile) values(#{stuno},#{wid},#{uploadDate},#{result},#{comment},#{markedfile})
	</insert>
	<!-- 更新完成作业的状态 -->
	<update id="updateIdentity" parameterType="com.hhit.basetrain.entity.FinishWorkBean">
		update finished set identity=1 where stuno=#{stuno} and wid=#{wid}
	</update>
	<!-- 学生查询已批作业 -->
	<select id="findWorkMark" parameterType="string" resultType="map">
		SELECT w.wid,w.cno,w.cname,w.title,w.content,w.uploadDate,w.uploadNo,w.file,w.endDate,f.finishedfile,p.result,p.comment,p.markedfile
        FROM work w,finished f,pigai p where w.wid=f.wid and f.wid=p.wid and f.stuno=#{stuno} and f.identity=1
	</select>
	
	<!-- 查询已批作业 分页-->
	<select id="findWorkMarkPage" parameterType="map" resultType="map">
		SELECT w.wid,w.cno,w.cname,w.title,w.content,w.uploadDate,w.uploadNo,w.file,w.endDate,f.finishedfile,p.result,p.comment,p.markedfile
        FROM work w,finished f,pigai p where w.wid=f.wid and f.wid=p.wid and f.stuno=#{stuno} and f.identity=1 limit ${page},
        ${pagesize}
	</select>
	<!-- 基地教师查询未交作业 -->
	<select id="findUnfinishedWork" parameterType="map" resultType="map">
		select * from(select s.stuno,s.stu_name,s.cno,w.cname,w.title,w.wid from trainstudent s join work w
		WHERE
	  s.base_class=#{base_class} and s.base_no=#{base_no}) c where not EXISTS (select stuno,wid from finished where stuno=c.stuno and wid=c.wid)
		<if test="title!=null and title!=''">
			and c.title=#{title}
		</if>
	</select>
	<!-- 基地教师查询未交作业分页 -->
	<select id="findUnfinishedWorkPage" parameterType="map" resultType="map">
		select * from(select s.stuno,s.stu_name,s.cno,w.cname,w.title,w.wid from trainstudent s join work w
		WHERE
	  s.base_class=#{base_class} and s.base_no=#{base_no}) c where not EXISTS (select stuno,wid from finished where stuno=c.stuno and wid=c.wid)
		<if test="title!=null and title!=''">
			and c.title=#{title}
			
		</if>
		limit ${page},${pagesize }
	</select>
	<!-- 基地教师查询已交作业 -->
	<select id="findAllFinishedWork" parameterType="map" resultType="map">
		SELECT DISTINCT * from(select s.stuno,s.stu_name,s.cno,w.cname,w.title,w.wid from trainstudent s,work w,finished f
		WHERE
	  s.base_class=#{base_class} and s.base_no=#{base_no}) c ,finished f where c.stuno=f.stuno and 
c.wid=f.wid
		<if test="title!=null and title!=''">
			and c.title=#{title}
		</if>
	</select>
	<!-- 基地教师查询已交作业分页 -->
	<select id="findAllFinishedWorkPage" parameterType="map" resultType="map">
		SELECT DISTINCT * from(select s.stuno,s.stu_name,s.cno,w.cname,w.title,w.wid from trainstudent s,work w,finished f
		WHERE
	  s.base_class=#{base_class} and s.base_no=#{base_no}) c ,finished f where c.stuno=f.stuno and 
c.wid=f.wid
		<if test="title!=null and title!=''">
			and c.title=#{title}
		</if>
		limit ${page},${pagesize }
	</select>
	<!-- 学校教师查询学生作业情况 -->
	<select id="findstudentwork" parameterType="map" resultType="map">
		select s.stuno,s.stu_name,w.cno,w.cname,w.title,p.result,p.markedfile,p.comment from
		trainstudent s,work w,pigai p where p.stuno=s.stuno and p.wid=w.wid and s.stuno like CONCAT(CONCAT('%', #{stuno}),'%')
		and w.base_no=#{base_no} 
	</select>
	<!-- 学校教师查询学生作业情况分页 -->
	<select id="findstudentworkPage" parameterType="map" resultType="map">
	select s.stuno,s.stu_name,w.cno,w.cname,w.title,p.result,p.markedfile,p.comment from
		trainstudent s,work w,pigai p where p.stuno=s.stuno and p.wid=w.wid and  s.stuno like CONCAT(CONCAT('%', #{stuno}),'%')
		and w.base_no=#{base_no} limit ${page},${pagesize}
		</select>
		<!-- 学生重交作业 -->
		<update id="updateFinshedWork" parameterType="com.hhit.basetrain.entity.FinishWorkBean">
			update finished set uploadDate=#{uploadDate},finishedfile=#{file},filename=#{filename}
			where stuno=#{stuno} and wid=#{wid}
		</update>
		<!-- 再一次上传查询已交作业 -->
		<select id="findReuploadWork" parameterType="map" resultType="map">
			select filename,finishedfile from finished where wid=#{wid} and stuno=#{stuno}
		</select>
		
		<!-- 提醒交作业 -->
		<insert id="insertTixingInfo" parameterType="map">
		insert into tixing(title,t_no,stuno) values(#{title},#{t_no},#{stuno})
		</insert>
		<!-- 查询是否已经提醒 -->
		<select id="findTixingInfo" parameterType="map" resultType="map">
			select title,t_no,stuno from tixing where stuno=#{stuno} and title=#{title}
		</select>
		
		<!-- 查询提醒 -->
		<select id="findTixing" parameterType="String" resultType="map">
			select title,t_no,stuno from tixing where stuno=#{stuno}
		</select>
		<!-- 删除 -->
		<delete id="deleteTixing" parameterType="map">
			delete from tixing where stuno=#{stuno} and title=#{title}
		</delete>
</mapper>