
body{
	background:-moz-linear-gradient(top,#edf5fd 0%,#fcfdfe 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#edf5fd), color-stop(100%,#fcfdfe));
    background: -webkit-linear-gradient(top, #edf5fd 0%,#fcfdfe 100%);
    background: -o-linear-gradient(top, #edf5fd 0%,#fcfdfe 100%);
    background: -ms-linear-gradient(top, #edf5fd  0%,#fcfdfe 100%);
    background: linear-gradient(to bottom right, #edf5fd  0%,#fcfdfe 100%);
    height:100%;
    width:100%;  
}
/* 学生浏览基地信息首页 */
html{
	height:100%;
	overflow:hidden;
}
.stuHeader{
	width:100%;
	min-width:1000px;
	height:175px;
	border-radius:2px;
	background:url("../images/HeaderBG.png") no-repeat;
	background-size:100% 100%;
}
.userLogin{
	height:30px;
	line-height:30px;
	width:100%;
	border-radius:2px;
	background:#42b3f4;
}
.showUserName #name_show{
	float:right;
	color:#fff;
}
.showUserName #exit{
	float:right;
	margin-right:20px;
	display:inline-block;
	font-size:14px;
	color:#fff;
}
.showUserName #name_show:hover,.showUserName #exit:hover{
	color:#066c0b;
	cursor:pointer;
}
.CMSMain{
	width:100%;
	height:100%;
	margin-top:10px;
}
/*  管理左侧菜单*/
.userMenuLeft{
	width:200px;
	height:100%;
	float:left;
	min-height:300px;
	border:1px solid #6DA3EC;
	border-top:none;
}
.userMenuLeft h1{
	height:36px;
	line-height:36px;
	background:#6DA3EC;
	border-radius:2px;
	padding-left:10px;
	text-align:center;
	font-weight: bolder;
	letter-spacing:2px;
}
.personInfo{
	height:40px;
	line-height:40px;
	padding-left:40px;
	border-bottom:1px dotted #ccc;
	cursor:pointer;
}
.secondMenu{
	height:80px;	
}
.secondMenu li{
	height:40px;
	line-height:40px;
	border-bottom:1px dotted #ccc;
	padding-left:60px;
}
.secondMenu li a{
	color:#000;	
}
#personManage{
    background: url(../images/1.png) no-repeat 10px;
}
#searchInfo{
    background: url(../images/2.png) no-repeat 10px;
}
.searchMenu{
	height:120px;
}
.searchMenu li a{
	color:#000;
}
#signUp{
    background: url(../images/4.png) no-repeat 10px;
}
/*右部展示区  */
.rightContent{
	margin-left:200px;
	border:1px solid #6DA3EC;
	border-left:none;
	height:100%;
}
/*常见问题列表*/
.list{
	width:786px;
	height:400px;
	margin:0 auto;
}
.topContent{
	margin-top:30px;
	margin-bottom:20px;
}
.topContent h1{
	width:100%;
	 border-bottom:1px dotted #e5e5e5;
	line-height:48px;
	font-size:16px;
	margin-bottom:10px;
}
.topContent select{
	width:150px;
	height:30px;
	line-height:30px;
	padding-left:5px;
}
.topContent input{
	border:1px solid #ccc;
	}
.topContent #search{
	width:60px;
	height:30px;
	line-height:30px;
	margin-left:20px;
	border-radius:4px;
	background:#46b8da;
	border:#46b8da;
	color:#fff;
	letter-spacing:1px;
	cursor:pointer;
}
#search:hover{
	background:#2aa8ce;
}
/*结果显示*/
.mainContent{
	margin-top:40px ;
}
#showInform {
	width:100%;
	height:auto;
	text-align:center;
	border:1px solid #ccc;
	color:#333;
	margin-bottom:20px;
}
#showInform tr{
	height:36px;
	width:100%;
	line-height:36px;
}
#showInform thead,th{
	border:1px solid #ccc;
	background:url(../images/level2bg.png);
	font-weight:bold;
	color:#000;
}
#showInform tfoot,td{
	border:1px solid #ccc;
}
#showInform .btn{
	background:none;
	border:none;
	cursor:pointer;
	color:#333;
}
#firstPage:hover,#prePage:hover,#nextPage:hover{
	color:#6fbce8;
}
/*追加基地信息*/
.mainBody{
	width:80%;
    min-width:1200px;
	margin:0 auto;
	height:100%;
	/*border:1px solid #ccc;*/
}
.showInfo{
	margin-top:20px;
	padding-bottom:20px;
	padding-left:20px;
}
.showInfo span,input{
	line-height: 32px;
	height:32px;
	display: inline-block;
	vertical-align: middle;
	letter-spacing:1px;
	margin-right:10px;
	padding-left:10px;
	border:0;
	background:transparent;
}
.showInfo input{
	background:transparent;
	margin-right:40px;
}
.showInfo input:nth-child(5){
	background:#46b8da;
}

.showInfo .baseAddr{
    margin-top:20px;
}
.showInfo input:last-child{
    margin-top:20px;
}
.editBtn{
	width:60px;
	height:30px;
	line-height:30px;
	margin-left:20px;
	border-radius:4px;
	background:#46b8da;
	border:#46b8da;
	color:#fff;
	letter-spacing:1px;
	cursor:pointer;
	padding:0;
}
.editBtn:hover{
	background:#2aa8ce;
}
/*基地调查信息*/
.researchInfo{
    width:100%;
    height:100%;
}
.researchInfo ul{
	height:30px;
	width:100%;
	margin:0 auto;
	padding-bottom:1px;
}
.researchInfo ul li{
	float:left;
}
.researchInfo ul li a{
	display: inline-block;
	margin-left:5px;
	padding:0 5px 0;
	background:#d4e6fa;
	box-shadow: 2px 0 2px #d4e6fa;
	border:1px solid #ccc;
	border-bottom:none;
	border-radius: 5px;
	height:30px;
	line-height: 30px;
	color:#406cac;
    cursor:pointer;
}
.researchInfo ul li a:hover{
	background:#4EB5E6 !important;
	color:#f0f0f0 !important;
	opacity:0.8;
}
.selected{
	background:#4EB5E6 !important;
	color:#f0f0f0 !important;
}
.researchInfo ul li:first-child{
	margin-left:30px;
}
/*基地信息调查结果*/
.researchResult{
	height:100%;
	margin-left:29px;
	border:1px solid #99bde9;
}
/*基地性质*/

.baseBuild{
    width:100%;
    height:100%;
}
.baseCharacter{
    margin-left:10px;
}
.column{
    width:30%;
    height:auto;
    float:left;
    margin-top:20px;
	margin-left:20px;
    border:1px solid #9da5b0;
}
.term{
    position:relative;
	border:1px solid #a0a7af;
	margin: 18px 10px 10px;
}
.imgBtn{
    display: inline-block;
    width: 15px;
    height: 10px;
    position: absolute;
    top: -4px;
    left: 30px;
    background: url("../images/spinner.gif");
	cursor:pointer;
}
.imgBtnDown{
	background: url("../images/spinner.gif") 0 -10px;
}
.resultTitle{
    position:absolute;
    top:-13px;
    left:60px;
    background:#4a4a4a;
    color:#f0f0f0;
    padding:0 10px;
    line-height:26px;
	text-align:center;
}
.resultInfo{
	width:100%;
    padding:30px 0 20px 6px;
}
.editContent{
    width:93%;
    height:100px;
    padding:4px;
    font-size:12px;
}
/*单位人员*/
.baseBuild .column:last-child{
    width:33%;
}
.unitPersonnel{
	width:33%;
}
.personnel{
    width:90%;
}
.personnel .numBtn{
    border:1px solid #ccc;
    margin-left:50px;
    margin-bottom:20px;
    height:22px;
    line-height:22px;
}

.lastNextNum{
    margin-left:40px !important;
}
.personnel .lastNum{
    margin-left:10px !important;
}
.personnel span{
    height:36px;
    line-height:22px;
    vertical-align: top;
    padding-left: 10px;
}
/*基地特色，企业联盟*/
.baseAdvantage{
    height:100%;
    width:100%;
}
.baseEdit{
    width:90%;
    height:420px;
    margin:20px 20px 0 45px;
    padding:10px;
}
/*基地场地*/
.baseField{
    overflow: scroll;
    height:100%;
    width:100%;
}
/*基地实训内容*/
.baseContent{
    overflow: scroll;
    height:100%;
    width:100%;
}
.baseNeedInfo{
    width: 40px;
    line-height: 20px;
    margin-left: 10px;
    margin-bottom: 10px;
    background: transparent;
    border-bottom: 1px solid #4a4a4a;
    border-radius:0;
    overflow:hidden;
		white-space:nowrap;
		text-overflow:ellipsis;
    
}
/*教师与辅导队伍*/
.baseCoach{
    width:100%;
    height:100%;
    overflow:scroll;
}
.baseCoach .column{
    width: 80%;
    padding-bottom:20px;
    margin-left:120px
}

