/*body{//门户网站网页部分
	
	width:75%;
	margin:0 auto;
	border:1px solid black;
}*/
div{
	width:75%;
	margin:0 auto;	
	border:1px solid black;
}
.Index_nav{/*门户网站：导航区域*/
	border:1px solid black;
	/*width:50%;*/
	height:100px;
	background-image: url("../images/indexTop.jpg");
	/*background-size:100% auto;*/
	background-repeat: no-repeat;
	background-position: center;
}
.Index_content table{/*门户网站：网站内容居中*/
	width:95%;
	margin:0 auto;	
}
table .left_content{
	width:25%;	
}
table .middle_content{
	width:50%;	
}
table .right_content{
	width:25%;	
}


