<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.hhit.basetrain.dao.TeachingDao">
	<!-- 添加课程考勤 -->
	<update id="savestudycheck" parameterType="com.hhit.basetrain.entity.Teaching">
		update teaching set studycheck=#{studycheck} where cno=#{cno} and t_no=#{t_no}
	</update>
	<!-- 添加学习计划 -->
	<update id="savestudyplan" parameterType="com.hhit.basetrain.entity.Teaching">
		update teaching set studyplan=#{studyplan} where cno=#{cno}
	</update>
</mapper>