<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="com.hhit.basetrain.dao.TrainStudentDao">
	<!-- 修改信息 -->
	<update id="modifyInfo" parameterType="com.hhit.basetrain.entity.Student">
		update Trainstudent
		set stu_name = #{stu_name},stu_sex = #{stu_sex},stu_class = #{stu_class},
			major = #{major},phone = #{phone},
			birthday = str_to_date(#{birthday},'%Y-%m-%d'),address = #{address}
		where stuno = #{stuno}
	</update>
 <!-- 查找信息 -->
 
 <select id="findInfoByNo" parameterType="string" resultType="com.hhit.basetrain.entity.TrainStudent">
 	select stu_name,stu_sex,stu_class,major,phone,date_format(birthday,'%Y-%c-%d') as birthday,
 	address,base_no,base_class,cno,date_format(train_date,'%Y-%m-%d') as train_date
 	 from trainstudent where stuno=#{stuno}
 
 </select>

 <!-- 查找实训单位 -->
 <select id="findBaseNameByNo" parameterType="string" resultType="string">
 	select base_name from baserelation where base_no=(select base_no from trainstudent where stuno=#{stuno})
 </select>

<!-- 查询实训学生信息 -->
	<select id="findInfo" parameterType="java.util.HashMap" resultType="map">
		SELECT s.stuno,s.stu_name,s.stu_class,s.major,s.base_class,tc.cno,r.base_name,
tc.cname,tc.term,t.t_name,r.base_name from traincourse tc,trainstudent s,teaching e,baseteacher t,
baserelation r
where s.cno=tc.cno and s.base_no=r.base_no and s.base_class=e.base_class and e.t_no=t.t_no  and s.stuno LIKE CONCAT(CONCAT('%', #{stno}),'%') and 
s.base_no=(select base_no from trainstudent  where stuno=#{stuno})
	
	</select>
<select id="findInfoByPage" parameterType="java.util.HashMap" resultType="map">
		SELECT s.stuno,s.stu_name,s.stu_class,s.major,s.base_class,tc.cno,r.base_name,
tc.cname,tc.term,t.t_name,r.base_name from traincourse tc,trainstudent s,teaching e,baseteacher t,
baserelation r
where s.cno=tc.cno and s.base_no=r.base_no and s.base_class=e.base_class and e.t_no=t.t_no  and s.stuno LIKE CONCAT(CONCAT('%', #{stno}),'%') and 
s.base_no=(select base_no from trainstudent  where stuno=#{stuno})limit ${page}, ${pagesize}
	</select>
	
	<!-- 通过学号查询成绩 -->
	<select id="findScoreInfoByNo" parameterType="java.util.HashMap" resultType="map">
		SELECT s.stuno,s.stu_name,c.cno,c.month,c.week,c.grade,c.exampaper,r.base_name,tc.cname from trainstudent s,
         score c,baserelation r,traincourse  tc 
         <where> s.stuno=c.stuno and s.base_no=r.base_no 
           and tc.cno=c.cno and c.stuno LIKE CONCAT(CONCAT('%', #{stuno}),'%')
          <if test="month!=null and month!=''">
           	  and c.month=#{month}
           </if>
           <if test="week!=null and week!=''">
           	and c.week=#{week}
           </if>
	     </where>
	</select>
	<!-- 通过学号查询成绩分页 -->
	<select id="findScoreInfoByPage" parameterType="java.util.HashMap" resultType="map">
		SELECT s.stuno,s.stu_name,c.cno,c.month,c.week,c.grade,c.exampaper,r.base_name,tc.cname from trainstudent s,
         score c,baserelation r,traincourse  tc 
         <where>
         s.stuno=c.stuno and s.base_no=r.base_no 
           and tc.cno=c.cno and c.stuno LIKE CONCAT(CONCAT('%', #{stuno}),'%')
          <if test="month!=null and month!=''">
           	  and c.month=#{month}
           </if>
           <if test="week!=null and week!=''">
           	and c.week=#{week}
           </if>
	     </where> 
	     limit ${page}, ${pagesize}
	</select>
	<!-- 动态sql语句查询分页 -->
	<select id="findScoreInfoByConditionPage" parameterType="java.util.HashMap" resultType="map">
		SELECT s.stuno,s.stu_name,c.cno,c.month,c.week,c.grade,c.exampaper,r.base_name,tc.cname,c.id from trainstudent s,
         score c,baserelation r,traincourse  tc where s.stuno=c.stuno and s.base_no=r.base_no 
           and tc.cno=c.cno
           and  c.cno=#{cno}
           <if test="stuno!=null and stuno!=''">
               and c.stuno  LIKE CONCAT(CONCAT('%', #{stuno}),'%')
           </if>
           <if test="month!=null and month!=''">
           	  and c.month=#{month}
           </if>
           <if test="week!=null and week!=''">
           	and c.week=#{week}
           </if>
           limit ${page}, ${pagesize}
	</select>
	<!-- 动态sql语句查询 -->
	<select id="findScoreInfoByCondition" parameterType="java.util.HashMap" resultType="map">
	    
		SELECT s.stuno,s.stu_name,c.cno,c.month,c.week,c.grade,c.exampaper,r.base_name,tc.cname,c.id from trainstudent s,
         score c,baserelation r,traincourse  tc 
         where
            s.stuno=c.stuno and s.base_no=r.base_no 
           and tc.cno=c.cno 
           and  c.cno=#{cno}
           <if test="stuno!=null and stuno!=''">
               and c.stuno LIKE CONCAT(CONCAT('%', #{stuno}),'%')
           </if>
           <if test="month!=null and month!=''">
           	  and c.month=#{month}
           </if>
            <if test="week!=null and week!=''">
           	and c.week=#{week}
           </if>
	</select>
	<!-- 基地教师查询实训学生信息 -->
	<select id="findTrainStudentInfo" parameterType="java.util.HashMap" resultType="map">
		select s.stuno,s.stu_name,s.stu_sex,date_format(s.birthday,'%y-%c-%d') as birthday,s.phone,s.base_class,r.base_name,tc.cno,tc.cname
		from trainstudent s,baserelation r,traincourse tc 
		where
		r.base_no=s.base_no
		and s.cno=tc.cno 
		<if test="stuname!=null and stuname!=''">
		and s.stu_name like  CONCAT(CONCAT('%', #{stuname}),'%')
		</if>
	</select>
	<!-- 基地教师查询实训学生信息 分页 -->
	<select id="findTrainStudentInfoPage" parameterType="java.util.HashMap" resultType="map">
		select s.stuno,s.stu_name,s.stu_sex,date_format(s.birthday,'%y-%c-%d') as birthday,s.phone,s.base_class,r.base_name,tc.cno,tc.cname
		from trainstudent s,baserelation r,traincourse tc 
		where
		r.base_no=s.base_no
		and s.cno=tc.cno 
		<if test="stuname!=null and stuname!=''">
		and s.stu_name like  CONCAT(CONCAT('%', #{stuname}),'%')
		</if>
		limit ${page}, ${pagesize}
	</select>
	
	<!-- 插入成绩 -->
	<insert id="saveGradeInfo" parameterType="java.util.HashMap">
		insert into score(stuno,cno,t_no,month,week,grade) values(#{stuno},#{cno},#{t_no},#{month},#{week},#{grade})
	</insert>
	
	<!-- 修改成绩 -->
	<update id="updateGradeInfo" parameterType="java.util.HashMap">
		update score set grade=${grade} where id=${id}
	
	</update>
	<!-- 删除成绩 -->
	<delete id="deleteGradeInfo" parameterType="string">
		delete from score where id=#{id}
	</delete>
	
	<!-- 通过学号，班级，专业动态查询实训信息 -->
	<select id="findTrainInfo" parameterType="java.util.HashMap" resultType="map">
		select s.stuno,s.stu_name,s.stu_class,s.major,r.base_name,tc.cno,tc.cname,tc.term from
		trainstudent s,baserelation r,traincourse tc
		 <where>
		 s.base_no=r.base_no
		 and s.cno=tc.cno
		 <if test="stuclass!=null and stuclass!=''">
		 	and s.stu_class=#{stuclass}
		 </if>
		 <if test="major!=null and major!=''">
		 	and s.major=#{major}
		 </if>
		 <if test="stuno!=null and stuno!=''">
		 	and s.stuno  LIKE CONCAT(CONCAT('%', #{stuno}),'%')
		 </if>
		 </where> 
	</select>
	<!-- 通过学号，班级，专业动态查询实训信息分页 -->
	<select id="findTrainInfoPage" parameterType="java.util.HashMap" resultType="map">
		select s.stuno,s.stu_name,s.stu_class,s.major,r.base_name,tc.cno,tc.cname,tc.term from
		trainstudent s,baserelation r,traincourse tc
		 <where>
		 s.base_no=r.base_no
		 and s.cno=tc.cno
		 <if test="stuclass!=null and stuclass!=''">
		 	and s.stu_class=#{stuclass}
		 </if>
		 <if test="major!=null and major!=''">
		 	and s.major=#{major}
		 </if>
		 <if test="stuno!=null and stuno!=''">
		 	and s.stuno LIKE CONCAT(CONCAT('%', #{stuno}),'%')
		 </if>
		 </where> 
		 limit ${page}, ${pagesize}
	</select>
	<!-- 通过学号，班级，专业，月份，星期动态查询成绩 -->
	<select id="findScoreInfo" parameterType="java.util.HashMap" resultType="map">
	    
		SELECT s.stuno,s.stu_name,s.stu_class,s.major,c.cno,c.month,c.week,c.grade,c.exampaper,r.base_name,tc.cname,c.id from trainstudent s,
         score c,baserelation r,traincourse  tc 
         where
            s.stuno=c.stuno and s.base_no=r.base_no 
           and tc.cno=c.cno 
           <if test="stuno!=null and stuno!=''">
               and c.stuno LIKE CONCAT(CONCAT('%', #{stuno}),'%')
           </if>
           <if test="month!=null and month!=''">
           	  and c.month=#{month}
           </if>
            <if test="week!=null and week!=''">
           	and c.week=#{week}
           </if>
           <if test="stuclass!=null and stuclass!=''">
		 	and s.stu_class=#{stuclass}
		 </if>
		 <if test="major!=null and major!=''">
		 	and s.major=#{major}
		 </if>
	</select>
	
	<!-- 通过学号，班级，专业，月份，星期动态查询成绩 分页-->
		<select id="findScoreInfoPage" parameterType="java.util.HashMap" resultType="map">
	    
		SELECT s.stuno,s.stu_name,s.stu_class,s.major,c.cno,c.month,c.week,c.grade,c.exampaper,r.base_name,tc.cname,c.id from trainstudent s,
         score c,baserelation r,traincourse  tc 
         where
            s.stuno=c.stuno and s.base_no=r.base_no 
           and tc.cno=c.cno
           <if test="stuno!=null and stuno!=''">
               and c.stuno LIKE CONCAT(CONCAT('%', #{stuno}),'%')
           </if>
           <if test="month!=null and month!=''">
           	  and c.month=#{month}
           </if>
            <if test="week!=null and week!=''">
           	and c.week=#{week}
           </if>
           <if test="stuclass!=null and stuclass!=''">
		 	and s.stu_class=#{stuclass}
		 </if>
		 <if test="major!=null and major!=''">
		 	and s.major=#{major}
		 </if>
		  limit ${page}, ${pagesize}
	</select>
	
	<!-- 录入基地学生 -->
	<insert id="insertTrainStudent" parameterType="com.hhit.basetrain.entity.TrainStudent">
		insert into trainstudent(stuno,stu_name,stu_sex,stu_class,major,phone,
		enter_year,birthday,base_no,base_class,cno,address,train_date) values
		(#{stuno},#{stu_name},#{stu_sex},#{stu_class},#{major},#{phone},
		#{enter_year},#{birthday},#{base_no},#{base_class},#{cno},#{address},#{train_date})
	</insert>
	
	<!-- 按课程查询人数 -->
	<select id="findCountByCourse" parameterType="string" resultType="map">
		SELECT c.*,count(*) as count from(SELECT t.cno,tc.cname,t.base_no,r.base_name from trainstudent t,traincourse tc,
       baserelation r where t.base_no=r.base_no and  tc.cno=t.cno and 
       t.base_no=(select base_no from baserelation r where manager_no=#{manager_no}))c 
       group by cno
	</select>
	
	<!--通过课程号查询实训学生 -->
	<select id="findTrainStudentByCno" parameterType="com.hhit.basetrain.entity.TrainStudent" resultType="com.hhit.basetrain.entity.TrainStudentBean">
		select s.stuno,s.stu_name,s.base_class,s.cno,tc.cname,s.train_date from trainstudent s,traincourse tc where s.cno=tc.cno and s.base_no=#{base_no} and s.cno=#{cno}
	</select>
	<!-- 通过班级进行统计 -->
	<select id="findCountByBaseClass" parameterType="string" resultType="map">
		SELECT c.*,count(*) as count from(SELECT t.cno,tc.cname,t.base_no,r.base_name ,t.base_class from trainstudent t,traincourse tc,
       baserelation r where t.base_no=r.base_no and  tc.cno=t.cno and 
       t.base_no=(select base_no from baserelation r where manager_no=#{manager_no}))c 
       group by base_class
	</select>
	<!--通过班级查询实训学生 -->
	<select id="findTrainStudentByClass" parameterType="com.hhit.basetrain.entity.TrainStudent" resultType="com.hhit.basetrain.entity.TrainStudentBean">
		select s.stuno,s.stu_name,s.base_class,s.cno,tc.cname,s.train_date from trainstudent s,traincourse tc where s.cno=tc.cno and s.base_no=#{base_no} and s.base_class=#{base_class}
	</select>
	
	<!-- 查询班级 -->
	<select id="findBaseClass" parameterType="string" resultType="string">
		select DISTINCT base_class from trainstudent where base_no=(select base_no from baserelation 
		where manager_no=#{manager_no}) 
	</select>
	
	<select id="findInfoList" parameterType="string" resultType="com.hhit.basetrain.entity.TrainStudent">
 	select stuno,stu_name,stu_sex,stu_class,major,phone,date_format(birthday,'%y-%c-%d') as birthday,
 	address,base_no,base_class,cno,date_format(train_date,'%Y-%m-%d') as train_date
 	 from trainstudent where stuno like CONCAT(CONCAT('%', #{stuno}),'%')
 
 </select>
 <!-- 更新信息 -->
 <update id="updateTrainStudentInfo" parameterType="com.hhit.basetrain.entity.TrainStudent">
 	update trainstudent set cno=#{cno},train_date=#{train_date},base_class=#{base_class},
 	phone=#{phone} where stuno=#{stuno}
 </update>
 
 <!--通过班级查询信息 -->
 <select id="findStudentByClass" parameterType="map" resultType="com.hhit.basetrain.entity.TrainStudent">
 	select stuno,stu_name from trainstudent where base_class=#{base_class} 
 	and base_no=(select base_no from baserelation where manager_no=#{manager_no})
 </select>
 
 <!-- 删除学生 -->
 <delete id="deleteStudent" parameterType="string">
 	delete from trainstudent where stuno=#{stuno}
 
 </delete>
	
</mapper>