<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="com.hhit.basetrain.dao.UserDao">

	<!-- 根据用户名查找用户 -->
	<select id="findByName" parameterType="string" resultType="com.hhit.basetrain.entity.User">
		select username,password,identity from user where username = #{name}
	</select>
	
	<!-- 添加用户 -->
	<insert id="save" parameterType="com.hhit.basetrain.entity.User">
		insert into user(username,password,identity)
		values
		(#{username},#{password},#{identity})
	</insert>
	
	<!-- 删除用户 -->
	<delete id="delete" parameterType="string">
		delete from user where username = #{username}
	</delete>
	
	<!-- 查询密码-->
	<select id="searchPwd" parameterType="string" resultType="string">
		select password from user where username = #{username}
	</select>
	
	<!-- 修改密码 -->
	<update id="modifyPwd" parameterType="java.util.Map">
		update user
		set password = #{newPwd}
		where username = #{username}
	</update>
	
	<!-- 密码重置 -->
	<update id="resetPwd" parameterType="string">
		update user
		set Upwd = '000000'
		where username = #{username}
	</update>
	<!-- 录入基地教师到用户 -->
	<insert id="saveBaseTeacher" parameterType="com.hhit.basetrain.entity.User">
		insert into user(username,password,identity) values(#{username},'000000','3')
	</insert>
	
</mapper>