<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
 
<mapper namespace="com.hhit.basetrain.dao.WorkDao">
	<!-- 上传作业 -->
	<insert id="saveWork" parameterType="com.hhit.basetrain.entity.Work">
		insert into work(wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file)
		values(#{wid},#{cno},#{cname},#{base_no},#{title},#{content},#{uploadDate},#{uploadNo},#{base_class},
		#{endDate},#{file})
	</insert>
	<!-- 查询作业 -->
	<select id="findWorkByBase" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_class=#{base_class} and base_no=#{base_no}
	</select>
	<!-- 查询作业分页 -->
	<select id="findWorkByBasePage" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select wid,cno,cname,base_no,title,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_class=#{base_class} and base_no=#{base_no} order by
		uploadDate desc limit ${page},${pagesize} 
	</select>
	
	<!-- 删除作业 -->
	<delete id="deleteWorkById" parameterType="string">
		delete from work where wid=#{wid}
	</delete>
	
	<!-- 学生查看最新作业 -->
	<select id="findWorkUnfinished" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select  wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_no =#{base_no} and base_class=#{base_class}
             and wid not IN (select wid from finished where stuno=#{stuno}) and endDate>#{currentDate}
	</select>
	<!--学生查看最新作业分页 -->
	<select id="findWorkUnfinishedPage" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select  wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_no =#{base_no} and base_class=#{base_class}
             and wid not IN (select wid from finished where stuno=#{stuno}) and endDate>#{currentDate}
             limit ${page},${pagesize}
	</select>
	
	<!-- 学生查看最新作业 -->
	<select id="findWorkUnfinishedPassed" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select  wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_no =#{base_no} and base_class=#{base_class}
             and wid not IN (select wid from finished where stuno=#{stuno}) and endDate <![CDATA[<]]>#{currentDate}
	</select>
	<!--学生查看最新作业分页 -->
	<select id="findWorkUnfinishedPassedPage" parameterType="map" resultType="com.hhit.basetrain.entity.Work">
		select  wid,cno,cname,base_no,title,content,uploadDate,uploadNo,base_class,endDate,file 
		from work where base_no =#{base_no} and base_class=#{base_class}
             and wid not IN (select wid from finished where stuno=#{stuno}) and endDate<![CDATA[<]]> #{currentDate}
             limit ${page},${pagesize}
	</select>
	<!--插入完成表-->
	<insert id="insertFinished" parameterType="com.hhit.basetrain.entity.FinishWorkBean">
		insert into finished(stuno,wid,uploadDate,finishedfile) values(#{stuno},#{wid},#{uploadDate},#{file})
	</insert>
	
	<!-- 查询已交作业 -->
	<select id="findWorkUpload" parameterType="string" resultType="map">
		SELECT w.wid,w.cno,w.cname,w.title,w.content,w.uploadDate,w.uploadNo,w.endDate,w.file,f.finishedfile
        FROM work w,finished f where w.wid=f.wid and f.stuno=#{stuno} and f.identity=0
	</select>
	
	<!-- 查询已交作业 分页-->
	<select id="findWorkUploadPage" parameterType="map" resultType="map">
		SELECT w.wid,w.cno,w.cname,w.title,w.content,w.uploadDate,w.uploadNo,w.endDate,w.file,f.finishedfile
        FROM work w,finished f where w.wid=f.wid and f.stuno=#{stuno} and f.identity=0 limit ${page},
        ${pagesize}
	</select>
	<!-- 删除已交作业 -->
	<delete id="deleteuploadedwork" parameterType="com.hhit.basetrain.entity.FinishWorkBean">
		delete from finished where stuno=#{stuno} and wid=#{wid}
	</delete>

	<!-- 查询已交作业 -->
	<select id="findFinishedWork" parameterType="map" resultType="map">
		select f.stuno,s.stu_name,w.cno,w.cname,w.title,f.uploadDate from finished f,trainstudent s,work w
		where f.stuno=s.stuno and w.wid=f.wid and w.base_no=#{base_no} and w.base_class=#{base_class} 
		<if test="title!=null and title!=''">
			and title=#{title}
		</if>
	</select>
	
	<!-- 查询已交作业分页 -->
	<select id="findFinishedWorkPage" parameterType="map" resultType="map">
		select f.stuno,s.stu_name,w.cno,w.cname,w.title,f.uploadDate,w.file,f.finishedfile from finished f,trainstudent s,work w
		<where> f.stuno=s.stuno and w.wid=f.wid and w.base_no=#{base_no} and w.base_class=#{base_class} 
		<if test="title!=null and title!=''">
			and title=#{title}
		</if>
		limit ${page},${pagesize}
		</where>
	</select>
	
</mapper>